# use glob syntax.
syntax: glob
target/
test-output/
bin/
build/
.settings/
.classpath
.project
.idea/
*.iml
*.eml
*.ipr
*.iws
*.DS_STORE
TAGS
.gradle
.metadata/
atlassian-ide-plugin.xml
.DS_Store
.java-version
.factorypath
.apt_generated
